.download {
  max-width: 40%;
  height: 100px;
  margin: 10px auto;
  padding: 10px 10px;
  background-color: white;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}
.download-dropdown {
  display: inline-block;
  width: 80%;
}

.download-button {
  width: 70px;
  color: white;
  margin-left: 17px;
  background-color: #0081b3;
  border: 1px solid transparent;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.349);
  cursor: pointer;
}

.download-link {
  display: inline-block;
  margin: 20px;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 25px;
}
.download-spin {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.download-spin::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 20px;
  left: 20px;
  /* transform: translate(-50%, -50%); */
  border-radius: inherit;
  border: 1px solid white;
  border-right-color: #7b78f8;
  border-right-color: #7b78f8;
  animation: spin 1s forwards infinite linear;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.ant-select-item-option-content {
  white-space: normal;
}
.ant-select-selection-item {
  white-space: normal;
}

.ant-select:not(.ant-select-disabled) .ant-select-selector {
  height: 100%;
}

.ant-select-single .ant-select-selector .ant-select-selection-item {
  line-height: 1.5;
}
